<!-- templates/navbar_user.html -->
<nav class="user-navbar">
    <div class="nav-left">
      <img src="/static/images/sk_logo.png" alt="SK Logo">
      <span class="title">SK Online Election</span>
    </div>
    <ul class="nav-links">
      <li><a href="/user/home">Home</a></li>
      <li><a href="/user/candidates">Candidate Details</a></li>
      <li><a href="/user/results">Result</a></li>
      <li>
        <a href="/user/profile" class="profile-icon" title="Profile">
          <img src="/static/images/prof_icon.png" alt="Profile" />
        </a>
      </li> 
    </ul>
  </nav>