<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vote Successful</title>
  <link rel="stylesheet" href="/static/css_files/user_navbar.css">
  <link rel="stylesheet" href="/static/css_files/vote_success.css">
</head>
<body>

  {% include 'user/user_navbar.html' %}

  <div class="success-container">
    <img src="/static/images/check_icon.png" alt="Success" class="check-icon">
    <h2>You have successfully cast your vote!</h2>
    <a href="/user/home" class="home-button">Go to Home</a>
  </div>
  
</body>
</html>